div.page-header
  section(id=klass.html_id)
    h1= name
    div!= klass.description.summary
    div!= klass.description.body
each item in properties
  section(id=item.html_id)
    h2= item.ctx.string.replace('()', '')
      if item.ctx.type==='method'
        | (
        each param, i in item.params
          if param.optional
            | [#{param.name}]
          else
            | #{param.name}
          if i+1 < item.params.length
            | , 
        | )
    include method
    hr.item-seperator
