div.page-header
  section(id=klass.html_id)
    h1.class_title= name.substr(klass.namespace.length)
      if klass.extends.length
        span.extends!= ' extends ' + klass.extends.join(', ')
      if klass.uses.length
        span.uses!= ' uses ' + klass.uses.join(', ')
    div!= klass.description.summary
    div!= klass.description.body
    if klass.code
      button.showcode.btn.btn-info Show code
      span  (defined in #{klass.defined_in}:#{klass.line_number})
      pre.sourcecode.prettyprint(class='.linenums:'+klass.line_number)!= klass.code
    if klass.subclasses.length
      dl
        dt Direct known subclasses:
        dd!= klass.subclasses.join(', ')
    if klass.usedbys.length
      dl
        dt Used by:
        dd!= klass.usedbys.join(', ')
each item in properties
  section(id=item.html_id, class=item.isPrivate ? 'private' : '')
    - var display_name = item.ctx.fullname
    - var is_method_of_class = true
    - var method = item.override || item
    include method
    hr.item-seperator
