div.page-header
  section(id=klass.html_id)
    h1= name
      if klass.extends.length
        span.extends!= ' extends ' + klass.extends.join(', ')
    div!= klass.description.summary
    div!= klass.description.body
    if klass.code
      button.showcode.btn.btn-info Show code
      span  (defined in #{klass.defined_in})
      pre.sourcecode.prettyprint.linenums!= klass.code
each item in properties
  section(id=item.html_id)
    h2= item.ctx.fullname
      if item.ctx.type==='method'
        | (
        each param, i in item.params
          if param.optional
            | [#{param.name}]
          else
            | #{param.name}
          if i+1 < item.params.length
            | , 
        | )
    include method
    hr.item-seperator
