div.page-header
  h1(id=klass.html_id)= name
  div!= klass.description.summary
  div!= klass.description.body
each item in properties
  h2(id=item.html_id)= item.ctx.string.replace('()', '')
    if item.ctx.type==='method'
      | (
      each param, i in item.params
        if param.optional
          | [#{param.name}]
        else
          | #{param.name}
        if i+1 < item.params.length
          | , 
      | )
  include method
  hr.item-seperator
