h2.class_method
  | #{display_name}
  if item.ctx.type==='method'
    | (
    each param, i in item.params
      if param.optional
        | [#{param.name}]
      else
        | #{param.name}
      if i+1 < item.params.length
        | , 
    | )
  if item.types && item.types.length && item.types.join('')
    |  : 
    each type, i in item.types
      != type
      if i+1 < item.types.length
        | , 
  if item.isPrivate
    span.label.label-private private
  if is_method_of_class && item.static
    span.label.label-static static
  if item.ctx.type==='property'
    span.label.label-property property
div!= item.description.summary
div!= item.description.body
if item.params.length
  h3 Parameters:
  ul
    each param1 in item.params
      li 
        - var param = param1;
        include method-param
        if param1.params
          ul
            each param2 in param1.params
              li
                - var param = param2;
                include method-param
                if param2.params
                  ul
                    each param3 in param2.params
                      li
                        - var param = param3;
                        include method-param
if item.return
  h3 Returns:
  ul
    li
      span
        |  {
        each type, i in item.return.types
          != type
          if i+1 < item.return.types.length
            | , 
        | } 
      span
        != item.return.description
      if item.returnprops
        ul
          each prop1 in item.returnprops
            li
              - var param = prop1;
              include method-param
              if prop1.returnprops
                ul
                  each prop2 in prop1.returnprops
                    li
                      - var param = prop2;
                      include method-param
                      if prop2.returnprops
                        ul
                          each prop3 in prop2.returnprops
                            li
                              - var param = prop3;
                              include method-param
if item.throws.length
  h3 Throws:
  ul
    each tag in item.throws
      li
        {
        span= tag.message
        } 
        span!= tag.description
if item.resterrors.length
  h3 Rest Errors:
  ul
    each tag in item.resterrors
      li
        {
        span= tag.code
        /
        span= tag.message
        } 
        span!= tag.description
if item.sees.length
  h3 See Also:
  ul
    each tag in item.sees
      li!= tag
if item.todos.length
  h3 TODO:
  ul
    each tag in item.todos
      li!= tag
if item.code
  button.showcode.btn.btn-info Show code
  span  (defined in #{item.defined_in}:#{item.line_number})
  pre.sourcecode.prettyprint(class='.linenums:'+item.line_number)!= item.code
