div.page-header
  section(id=module.html_id)
    h1.class_title= name.substr(module.namespace.length)
      if module.extends.length
        span.extends!= ' extends ' + module.extends.join(', ')
    div!= module.description.summary
    div!= module.description.body
    if module.code
      button.showcode.btn.btn-info Show code
      span  (defined in #{module.defined_in}:#{module.line_number})
      pre.sourcecode.prettyprint(class='.linenums:'+module.line_number)!= module.code
each item in properties
  section(id=item.html_id)
    - var display_name = item.ctx.name
    - var is_method_of_class = false
    include method
    hr.item-seperator
