- var current_namespace = ''
ul.nav.nav-list.cormo-sidenav
  each item in result.modules
    if current_namespace!==item.namespace
      - current_namespace = item.namespace
      li.nav-header= current_namespace.replace(/\.$/, '')
    - var display_name = item.ctx.name.substr(current_namespace.length)
    if item.ctx.name===name
      li.active
        a(href='#'+module.html_id)= display_name
      each property in properties
        li.cormo-class-property(class=property.isPrivate ? 'private' : '')
          a(href='#'+property.html_id)= property.ctx.name
            if property.isPrivate
              span.label.label-private private
            if property.ctx.type==='property'
              span.label.label-property property
    else
      li
        a(href=item.filename+'.html')= display_name
