div.page-header
  section(id=module.html_id)
    h1.class_title= name.substr(module.namespace.length)
    div (defined in #{module.defined_in.replace(/index.(coffee|js)$/, '')})
    div!= module.description.summary
    div!= module.description.body
each item in properties
  section(id=item.html_id, class=item.isPrivate ? 'private' : '')
    - var display_name = item.ctx.name
    - var is_method_of_class = false
    - var method = item
    include method
    hr.item-seperator
