div.page-header
  section(id=module_data.html_id)
    h1.class_title= name.substr(module_data.namespace.length)
    div
      | (defined in 
      if genopts && genopts.github && genopts.github.sourcelink
        a(href='#{genopts.github.repository}/blob/#{genopts.github.branch}/#{module_data.defined_in}') #{module_data.defined_in.replace(/index.(coffee|js)$/, '')}
      else
        | #{module_data.defined_in.replace(/index.(coffee|js)$/, '')}
      |)
    div!= convertLink(rel_path, module_data.description.summary)
    div!= convertLink(rel_path, module_data.description.body)
each item in properties
  section(id=item.html_id, class=item.isPrivate ? 'private' : '')
    - var display_name = item.ctx.name
    - var is_method_of_class = false
    - var method = item
    include method
    hr.item-seperator
