extends layout

block vars
  - var body_span = 9
  - var sidebar_span = 12 - body_span
  - var use_affix = true
  - var items = self.result.ns_pages
  - var has_namespace = true

block nav-item
  li
    a(href='#'+item.html_id)= item.ctx.name

block body
  each item in self.result.pages
    span.fix-anchor(id=item.html_id)
    section
      h2.class_method= item.ctx.name
      div!= self.convertLink(self.rel_path, item.description.summary)
      div!= self.convertLink(self.rel_path, item.description.body)
      hr.item-seperator
