nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  div.navbar-header
    button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target="#top-navigation-collapse")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    div.collapse.navbar-collapse(id="top-navigation-collapse")
      ul.nav.navbar-nav
        li(class=(self.type=='home'?'active':''))
          a(href='#{self.rel_path}index.html') Home
        if self.result.guides.length > 0
          li.dropdown(class=(self.type=='guides'?'active':''))
            a.dropdown-toggle(data-toggle='dropdown',href='#')
              = 'Guides'
              if self.type=='guides'
                = ' - ' + self.name
              = ' '
              span.caret
            ul.dropdown-menu
              each item in self.result.guides
                li
                  a(href=self.rel_path+item.filename+'.html')= item.name
        if self.result.modules.length > 0
          li(class=(self.type=='modules'?'active':''))
            a(href='#{self.rel_path}modules/index.html') Modules
              if self.type=='modules' && self.name
                = ' - ' + self.name
        if self.result.classes.length > 0
          li(class=(self.type=='classes'?'active':''))
            a(href='#{self.rel_path}classes/index.html') Classes
              if self.type=='classes' && self.name
                = ' - ' + self.name
        if self.result.pages.length > 0
          li(class=(self.type=='pages'?'active':''))
            a(href='#{self.rel_path}pages.html') Pages
        if self.result.restapis.length > 0
          li(class=(self.type=='restapis'?'active':''))
            a(href='#{self.rel_path}restapis.html') REST APIs
        if self.result.features.length > 0
          li.dropdown(class=(self.type=='features'?'active':''))
            a.dropdown-toggle(data-toggle='dropdown',href='#')
              = 'Features'
              if self.type=='features'
                = ' - ' + self.name
              = ' '
              span.caret
            ul.dropdown-menu
              each item in self.result.features
                li
                  a(href=self.rel_path+item.filename+'.html')= item.name
        if self.result.files.length > 0
          li.dropdown(class=(self.type=='files'?'active':''))
            a.dropdown-toggle(data-toggle='dropdown',href='#')
              = 'Files'
              if self.type=='files'
                = ' - ' + self.name
              = ' '
              span.caret
            ul.dropdown-menu
              each item in self.result.files
                li
                  a(href=self.rel_path+item.filename+'.html')= item.name
      div.options
        label(class='checkbox')
          input#options-private(type='checkbox')
          |  Private 
